<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Inicio - SafeSpace') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="center-container">
    <div class="main-card">
      <h2>{{ _('Bienvenido, %(username)s', username=user.username) }}</h2>
      <div class="home-nav">
        <a href="/config" class="btn">{{ _('Perfil') }}</a>
        <a href="/chat" class="btn">{{ _('Chat Global') }}</a>
        <a href="/amigos" class="btn">{{ _('Amigos') }}</a>
        <a href="/panico" class="btn btn-reject">{{ _('Botón de Pánico') }}</a>
        <a href="{{ url_for('diary.diary') }}" class="btn">{{ _('Diario') }}</a>
        <a href="{{ url_for('home.feed') }}" class="btn">{{ _('Feed') }}</a>
        <a href="{{ url_for('home.nueva_publicacion') }}" class="btn btn-add">{{ _('Nueva publicación') }}</a>
        <a href="/logout" class="btn">{{ _('Cerrar sesión') }}</a>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
