<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Registro - Espacio Seguro') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>{{ _('Crear Cuenta') }}</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="{{ _('Usuario') }}" required>
        <input type="email" name="email" placeholder="{{ _('Email') }}" required>

        <input type="password" name="password" id="registerPassword" placeholder="{{ _('Contraseña') }}" required>
        <label><input type="checkbox" id="toggleRegisterPassword"> {{ _('Ver contraseña') }}</label>

        <button type="submit">{{ _('Registrar') }}</button>
    </form>
    <p>{{ _('¿Ya tenés cuenta?') }} <a href="/login">{{ _('Ingresá acá') }}</a></p>

    <script>
      const toggleRegisterPassword = document.getElementById('toggleRegisterPassword');
      const registerPassword = document.getElementById('registerPassword');

      toggleRegisterPassword.addEventListener('change', function () {
        registerPassword.type = this.checked ? 'text' : 'password';
      });
    </script>
</body>
</html>

